.App {
  text-align: center;
}

.title-text {
  font-size: 3rem;
}

.date {
  font-size: 1.3rem;
}


.apod{
  height: 500px;
  display: flex;
  /* justify-content: space-evenly; */
  background: peachpuff;
}

.summary {
  margin: 0 auto;
  width: 20%;
  background: white;
}

.apod-image {
margin: 0 auto;
width: 20%;
background: white;

}